Soap_MsgSet_CustomerService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="Soap_MsgSet_Customer" targetNamespace="http://tempuri.org/Soap_MsgSet_Customer" xmlns="http://tempuri.org/Soap_MsgSet_Customer" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tempuri.org/Soap_MsgSet_Customer" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Soap_MsgSet_Customer" xmlns:mrm="http://tempuri.org/Soap_MsgSet_Customer">
      <xsd:complexType name="GetEmployeeDetailsRequest">
        <xsd:sequence>
          <xsd:element ref="Eid"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="GetEmployeeDetailsResponse">
        <xsd:sequence>
          <xsd:element ref="Eaddress"/>
          <xsd:element ref="Edep"/>
          <xsd:element ref="Eid"/>
          <xsd:element ref="Ename"/>
          <xsd:element ref="Essn"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AddEmployeeDetailsRequest">
        <xsd:sequence>
          <xsd:element ref="Eaddress"/>
          <xsd:element ref="Edep"/>
          <xsd:element ref="Eid"/>
          <xsd:element ref="Ename"/>
          <xsd:element ref="Essn"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AddEmployeeDetailsResponse">
        <xsd:sequence>
          <xsd:element ref="Eid"/>
          <xsd:element ref="Message"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Ename" type="xsd:string"/>
      <xsd:element name="Eaddress" type="xsd:string"/>
      <xsd:element name="Eid" type="xsd:string"/>
      <xsd:element name="Edep" type="xsd:string"/>
      <xsd:element name="Essn" type="xsd:string"/>
      <xsd:element name="Fcode" type="xsd:string"/>
      <xsd:element name="Fmessage" type="xsd:string"/>
      <xsd:element name="Message" type="xsd:string"/>
      <xsd:complexType name="Fault">
        <xsd:sequence>
          <xsd:element ref="Fcode"/>
          <xsd:element ref="Fmessage"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="GetEmployeeDetailsRequest" type="GetEmployeeDetailsRequest"/>
      <xsd:element name="GetEmployeeDetailsResponse" type="GetEmployeeDetailsResponse"/>
      <xsd:element name="AddEmployeeDetailsRequest" type="AddEmployeeDetailsRequest"/>
      <xsd:element name="AddEmployeeDetailsResponse" type="AddEmployeeDetailsResponse"/>
      <xsd:element name="Fault" type="Fault"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AddEmployeeDetails_in">
    <wsdl:part element="AddEmployeeDetailsRequest" name="AddEmployeeDetailsRequest"/>
  </wsdl:message>
  <wsdl:message name="AddEmployeeDetails_out">
    <wsdl:part element="AddEmployeeDetailsResponse" name="AddEmployeeDetailsResponse"/>
  </wsdl:message>
  <wsdl:message name="AddEmployeeDetails_fault1">
    <wsdl:part element="Fault" name="Fault"/>
  </wsdl:message>
  <wsdl:message name="GetEmployeeDetails_in">
    <wsdl:part element="GetEmployeeDetailsRequest" name="GetEmployeeDetailsRequest"/>
  </wsdl:message>
  <wsdl:message name="GetEmployeeDetails_out">
    <wsdl:part element="GetEmployeeDetailsResponse" name="GetEmployeeDetailsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetEmployeeDetails_fault1">
    <wsdl:part element="Fault" name="Fault"/>
  </wsdl:message>
  <wsdl:portType name="Soap_MsgSet_CustomerPortType">
    <wsdl:operation name="AddEmployeeDetails">
      <wsdl:input message="AddEmployeeDetails_in" name="AddEmployeeDetails_Input"/>
      <wsdl:output message="AddEmployeeDetails_out" name="AddEmployeeDetails_Output"/>
      <wsdl:fault message="AddEmployeeDetails_fault1" name="AddEmployeeDetails_Fault"/>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeDetails">
      <wsdl:input message="GetEmployeeDetails_in" name="GetEmployeeDetails_Input"/>
      <wsdl:output message="GetEmployeeDetails_out" name="GetEmployeeDetails_Output"/>
      <wsdl:fault message="GetEmployeeDetails_fault1" name="GetEmployeeDetails_Fault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Soap_MsgSet_CustomerSOAP_HTTP_Binding" type="Soap_MsgSet_CustomerPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AddEmployeeDetails">
      <soap:operation soapAction=""/>
      <wsdl:input name="AddEmployeeDetails_Input">
        <soap:body parts="AddEmployeeDetailsRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output name="AddEmployeeDetails_Output">
        <soap:body parts="AddEmployeeDetailsResponse" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AddEmployeeDetails_Fault">
        <soap:fault name="AddEmployeeDetails_Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeDetails">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetEmployeeDetails_Input">
        <soap:body parts="GetEmployeeDetailsRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetEmployeeDetails_Output">
        <soap:body parts="GetEmployeeDetailsResponse" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="GetEmployeeDetails_Fault">
        <soap:fault name="GetEmployeeDetails_Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Soap_MsgSet_CustomerSOAP_HTTP_Service">
    <wsdl:port binding="Soap_MsgSet_CustomerSOAP_HTTP_Binding" name="Soap_MsgSet_CustomerSOAP_HTTP_Port">
      <soap:address location="http://localhost:7800/Soap_MsgSet_CustomerSOAP_HTTP_Service"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>